@import "./utils/reset.scss";
@import "./utils/variables.scss";

@import "./blocks/intro.scss";
@import "./blocks/header.scss";
@import "./blocks/programms.scss";
@import "./blocks/masters.scss";

@import "./mixins/grid-mixin.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0C0C0D;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1504px;
}
.content {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-family: $ContentFont;
        font-weight: 500;
        font-size: 60px;
        line-height: 100%;
        text-align: center;
        color: #FBDAA8;
    }
}