.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 20;
    padding: 0 60px;

    @media (max-width: 1200px) {
        padding: 0 50px;
    }

    @media (max-width: 1050px) {
        position: fixed;
        background: rgba($DarkColor, 0.8);
        padding-bottom: 20px;
    }

    @media (max-width: 768px) {
        padding: 0 30px 20px;
    }

    @media (max-width: 400px) {
        padding: 0px 20px 10px;
    }

    & .container {
        width: 100%;
        max-width: 1504px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation {
        padding: 40px 65px 30px;
        width: calc((740 / 1505) * 100%);
        margin-left: 40px;
        background: rgba($DarkColor, 0.36);
        backdrop-filter: blur(26.5px);
        border-radius: 0px 0px 15px 15px;

        @media (max-width:1600px) {
            margin-left: 0;
            padding: 40px 35px 30px;
            column-gap: 20px;
        }

        @media (max-width:1050px) {
            display: none;
        }

        &_list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 15px;
        }

        &_item {
            padding: 0 10px;
            text-align: center;
            cursor: pointer;
            padding: 0 15px;

            @media (max-width: 1450px) {
                padding: 0;
            }

            &:nth-child(2) {
                margin-left: 15px;

                @media (max-width:1450px) {
                    margin-left: 0;
                }
            }

            &:nth-child(3) {
                margin-left: 5px;

                @media (max-width:1450px) {
                    margin-left: 0;
                }
            }

            & a {
                color: $DefaultTextColor;
                font-family: $ContentFont;
                font-weight: 500;
                font-size: 22px;
                line-height: 31px;
                transition: all 0.3s;
                position: relative;

                @media (max-width: 1250px) {
                    font-size: 18px;
                }

                &::after {
                    content: "";
                    width: 0;
                    position: absolute;
                    border: 1px solid transparent;
                    left: 0;
                    top: 100%;
                    transition: all 0.3s;
                }

                &:hover {
                    color: $LinkColor;

                    &::after {
                        border-color: $LinkColor;
                        width: 100%;
                    }
                }
            }
        }
    }

    &__false-phone {
        margin-left: auto;
        margin-right: 27px;
        display: none;

        & svg path {
            transition: fill 0.3s;
        }

        @media (max-width:420px) {
            display: block;

            &:hover {
                & svg path {
                    fill: $LinkColor;
                }
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;

        @media (max-width:1050px) {
            margin-left: auto;
            margin-right: 27px;
        }

        @media (max-width:420px) {
            display: none;
        }

        &_phone {
            font-family: $ContentFont;
            color: $DefaultTextColor;
            font-weight: 500;
            font-size: 26px;
            line-height: 36px;
            font-variant: lining-nums;
            transition: all 0.3s;

            &:hover {
                text-decoration: underline;
                color: $LinkColor;
            }

            @media (max-width: 1250px) {
                font-size: 22px;
                line-height: 32px;
            }

            @media (max-width: 991px) {
                letter-spacing: 0.01rem;
                margin-top: 6px;
            }

            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.03rem;
            }

            @media (max-width: 550px) {
                font-size: 18px;
                line-height: 25px;
                margin-top: 0;
            }
        }

        &_addr {
            font-family: $ContentFont;
            color: $DefaultTextColor;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            margin-top: 6px;
            margin-right: 6px;
            transition: all 0.3s;

            &:hover {
                text-decoration: underline;
                color: $LinkColor;
            }

            @media (max-width: 1250px) {
                font-size: 16px;
                line-height: 22px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.03rem;
            }

            @media (max-width: 550px) {
                font-size: 12px;
                line-height: 17px;
                margin-top: 0;
            }
        }
    }

    & .mobile__menu_btn {
        display: none;
        cursor: pointer;

        & svg rect {
            transition: all 0.25s;
        }

        &:hover {
            & svg rect {
                fill: $LinkColor;
            }
        }

        @media (max-width:1050px) {
            display: block;
        }
    }
}

.logo {
    margin-top: 9px;
    display: block;

    & svg path {
        transition: all 0.3s;
    }

    &:hover {
        & .logo__text {
            color: $LinkColor;
        }

        & svg path {
            fill: $LinkColor;
        }
    }

    @media (max-width: 1250px) {
        width: 153px;

        & svg {
            width: 100%;
        }
    }

    @media (max-width: 991px) {
        width: 140px;
    }

    @media (max-width: 768px) {
        width: 126px;
    }

    @media (max-width: 550px) {
        width: 110px;
    }

    &__text {
        text-transform: uppercase;
        font-size: 12px;
        font-family: $LogoFont;
        color: rgba($DefaultTextColor, 0.8);
        letter-spacing: 0.175em;
        margin-top: 10px;
        transition: all 0.3s;
        text-align: center;

        @media (max-width: 1250px) {
            font-size: 11px;
            letter-spacing: 0.13em;
            margin-top: 6px;
        }

        @media (max-width: 991px) {
            font-size: 10px;
            letter-spacing: 0.14em;
            margin-top: 6px;
        }

        @media (max-width: 768px) {
            font-size: 9px;
            letter-spacing: 0.14em;
            margin-top: 6px;
        }

        @media (max-width: 550px) {
            font-size: 7px;
            letter-spacing: 0.24em;
            line-height: 9px;
            margin-top: 6px;
        }
    }
}