.reviews {
    width: 100%;
    padding: 58px 0px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 550px) {
        padding: 43px 0 47px;
    }

    &__content {
        margin-top: 80px;
        width: 100%;
        overflow: hidden;

        @media (max-width: 550px) {
            margin-top: 30px;
        }
    }

    &__cards {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 24px 24px 39px;
        border: 1px solid #FBDAA8;
        border-radius: 15px;

        @media (max-width: 400px) {
            padding: 20px;
        }

        &_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background: rgba(255, 158, 68, 0.15);
            filter: blur(100px);
            z-index: 0;
        }

        &_user {
            @media (max-width: 400px) {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }
        }

        &_row {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            @media (max-width: 400px) {
                flex-direction: column;
                align-items: start;
                row-gap: 10px;
            }
        }
    }

    &__name {
        font-family: $ContentFont;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        color: #FFFFFF;
        transition: all 0.3s;

        @media (max-width: 400px) {
            font-size: 28px;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 5px;

        &_num {
            font-family: $ParagraphFont;
            font-weight: 400;
            font-size: 22px;
            line-height: 114.8%;
            color: #FFFFFF;
            font-variant: lining-nums;

            @media (max-width: 400px) {
                font-size: 20px;
            }
        }

        &_stars {
            display: flex;
            column-gap: 4px;

            & svg {

                @media (max-width: 400px) {
                    width: 15px;
                }
            }
        }
    }

    &__age {
        font-family: $ParagraphFont;
        font-weight: 400;
        font-size: 22px;
        line-height: 114.8%;
        color: #FFFFFF;
        font-variant: lining-nums;
        margin-top: 8px;

        @media (max-width: 400px) {
            font-size: 20px;
        }
    }

    &__text {
        font-family: $ParagraphFont;
        font-weight: 400;
        font-size: 26px;
        line-height: 114.8%;
        color: #FFFFFF;
        font-variant: lining-nums;
        margin-top: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;

        @media (max-width: 400px) {
            font-size: 18px;
            margin-top: 30px;
        }
    }
}