@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Montserrat:wght@100;200&family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

// ////////////////////  ШРИФТЫ  /////////////////

$LogoFont: 'Mont', sans-serif;
$ContentFont: 'Vollkorn', serif;
$ParagraphFont: 'Cormorant', serif;

$LightFont: 100;

// //////////////////// ЦВЕТА  ///////////////////

$BgColor: #0C0C0D;
$LinkColor: #D8A65D;
$DarkColor: #000000;
$DefaultTextColor: #FFFFFF;
$SocialsColor: #e2bd86;
$PriceColor: #FBDAA8;
$ContactsLinkColor: #ff9e44;
